body {
    min-width: 960px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f3f3f3;
}

.body-content {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.dl-horizontal dt {
    white-space: normal;
}

.navbar-logo {
    line-height: 50px;
    float: left;
    margin-right: 15px;
}

/* Стили элементов панели админа */
.body-content {
    background-color: transparent !important;
}

.db-section {
    margin-top: 10px;
}

.db-wrapper {

}

.db-indicator {
    box-shadow: lightgray 0px 0px 2px;
    border: 1px solid lightgray;
    background-color: white;
}

    .db-indicator > .db-indicator-title,
    .db-indicator > .db-indicator-content {
        padding: 12px;
    }

    .db-indicator-title + .db-indicator-content {
        padding-top: 0px;
    }

    .db-indicator > .db-indicator-title {
        text-transform: uppercase;
        font-size: larger;
    }

/* Стили графиков */
.ct-label {
    font-size: 8pt !important;
}