@using Newtonsoft.Json

@model Chart
@{
    bool isPie = Model.TemplateName == "Pie";

    var chartData = new {
        labels = Model.Series.Labels,
        series = isPie ? Model.Series.Values[0] as object
                       : Model.Series.Values as object
    };

    string chartId = $"chart_{Model.GetHashCode()}";
    string dataString = JsonConvert.SerializeObject(chartData);

    string chartCode = $"Chartist.{Model.TemplateName}(\"#{chartId}\", {dataString});";

    var codeLines = ViewBag.ChartsCode as List<string>;
    codeLines.Add(chartCode);
}

<div class="chart-container ct-chart" id="@chartId"></div>